*{
    padding: 0;
    margin: 0%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: orange;
    height: 60px;
}
.home{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.logo{
    margin-left: 15px;
}
main{
    text-align: center;
    padding: 20px;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
    
}
 
.tamanho-video{
    display: flex;
    width: 100%;
    height: 100%;
    
}


footer{
    display: flex;
    align-items: center;
    background: orange;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    height: 50px;
}







