body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey; 
}

header .Titulo{
    margin-left: 15px;
}

header .Busca{
    margin-right: 15px;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 30px 40px;
    padding: 85.5px;
    
    
   
    
    
}
.card-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 3px green;
    text-align: center;
    height: 300px;
    width: 300px;
    

}
.imagem-videos{
    width: 100% ;
    height: 100% ;
}

footer{
    background: grey;
    position: relative;
    width: 100%;  
    display: flex;
    align-items: center;
    flex-direction: column; 
}